.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 12.5em;
  background: #e1e1e1;
  margin: -1em -2.5em 1em;
  font-size: 2em;
}

.details {
  margin: 15px 0;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.details button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  color: #2a2a2a;
  text-decoration: underline;
}

.commentContainer {
  border-bottom: 2px solid #e5e5e5;
  margin: 0 0 25px;
}

.commentContainer .comment,
.commentContainer .commentReply {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.commentContainer .comment .commentDetails,
.commentContainer .commentReply .commentDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.commentContainer .comment .commentDetails .commentDetailsName,
.commentContainer .commentReply .commentDetails .commentDetailsName {
  margin: 0 15px 0 0;
}

.commentContainer .comment .commentDetails .commentDetailsDate,
.commentContainer .commentReply .commentDetails .commentDetailsDate {
  font-size: 0.9rem;
}

.commentContainer .comment .commentReplyBtn {
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  align-self: flex-end;
  font-size: 0.85rem;
}

.commentContainer .replies .commentReply {
  border-top: 2px solid #e5e5e5;
  margin: 0 0 0 50px;
}
